<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--This is a sample of configuration MasterData-->
  <!--
  <configSections>
    <section name="masterData" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <masterData>
    <add key="isEnabled" value="true"/>
    <add key="host" value="http://localhost:58409/api/"/>
    <add key="nodeAlias" value="erp"/>
  </masterData>
  -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
